
body, html{
    height: 100%;
}



.layout-sobre-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.layout-sobre-conteudos{
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.layout-sobre-texto{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

img{
    padding: 1rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
}

.layout-preco{
    margin-top: 10rem;
}

.layout-preco-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-preco-cards{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.layout-funcionalidades{
    margin-top: 10rem;
    width: 50rem;
}

footer{
    width: 100%;
    background-color:  black;
    color: white;
    margin-top: 10rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-inner{
    margin-top: 5rem;
}

#contato{
    margin-top: 2rem;
}